.end-modal-container {
  position: fixed;
  width: 40vw;
  height: 40vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  opacity: 0.6;
}

.end-modal-content {
  color: white;

}

.result {
  font-family: "Oswald", "sans-serif";
}

h2 {
  font-family: "Oswald", "sans-serif";
  font-weight: 500;
}