.player-setup-container {
  display: flex;
}

.player-setup {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
}

.circle-1 {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  margin: 1vh 0.5vh;
  border: 0.1em solid black;
}

.circle-2 {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  margin: 1vh 0.5vh;
  border: 0.1em solid black;
}

.start-btn {
  height: 10%;
  width: 3vw;
  margin: 30% 2vh;
  border-radius: 1vh;
  align-self: center;
}

.name-input {
  width: 70%;
  margin-bottom: 2vh;
  max-width: 18em;
}

.player-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  overflow: scroll;
  font-family: "Josefin Sans", sans-serif;
  color: white
}
