.player-setup-container {
  display: flex;
}

.player-setup {
  display: flex;
  flex-direction: column;
}

.color-selector-container {
  border: 1px solid black;
  height: 400px;
  width: 400px
}

.circle-1 {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
}

.circle-2 {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
}